<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<title>List Employees</title>

</head>
<body>

	<div>
		<h1>Employee List</h1>

		<div>
			<form th:action="@{/dpage/1}">
				<input type="hidden" name="sortField" th:value="${sortField}" /> 
				<input type="hidden" name="sortDir" th:value="${sortDir}" /> Filter: 
				<input type="text" name="keyword" th:value="${keyword}" required />	&nbsp; 
				<input type="submit" value="Search" /> 
				<input type="button" value="Clear" onClick="clearFilter()" />
			</form>

		</div>
		<br>
		<div>
			<table border="1">
				<thead>
					<tr align="center">
						<th><a
							th:href="@{'/epage/' + ${currentPage} + '?sortField=empid&sortDir=' + ${reverseSortDir}}">
								Employee ID </a></th>
						<th><a
							th:href="@{'/epage/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
								Name </a></th>
						<th><a
							th:href="@{'/epage/' + ${currentPage} + '?sortField=salary&sortDir=' + ${reverseSortDir}}">
								Salary </a></th>
						<th><a
							th:href="@{'/epage/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
								Email </a></th>
						<th><a
							th:href="@{'/epage/' + ${currentPage} + '?sortField=jobname&sortDir=' + ${reverseSortDir}}">
								Job Description </a></th>
						<th><a
							th:href="@{'/epage/' + ${currentPage} + '?sortField=department&sortDir=' + ${reverseSortDir}}">
								Department Name </a></th>

						<th sec:authorize="hasAnyAuthority('admin')">Actions</th>
					</tr>

				</thead>
				<tbody>
					<th:block th:each="employee: ${listEmployees}">
						<tr>
							<td th:text="${employee.empid}"></td>
							<td th:text="${employee.name}"></td>
							<td th:text="${employee.salary}"></td>
							<td th:text="${employee.email}"></td>
							<td th:text="${employee.jobname}"></td>
							<td th:text="${employee.department.dname}"></td>
							<td sec:authorize="hasAnyAuthority('admin')"><a
								th:href="@{'/employees/edit/' + ${employee.empid}}">Edit</a> <a
								th:href="@{'/employees/delete/' + ${employee.empid}}">Delete</a>
							</td>
						</tr>

					</th:block>
				</tbody>

			</table>

		</div>
		<div>
			Total Items: [[${totalItems}]] - Page [[${currentPage}]] of
			[[${totalPages}]] &nbsp; - &nbsp; <a th:if="${currentPage > 1}"
				th:href="@{/epage/1}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' } ">First</a>

			<span th:unless="${currentPage > 1}">First</span> &nbsp;&nbsp; <a
				th:if="${currentPage > 1}"
				th:href="@{'/epage/' + ${currentPage-1}}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword !=null ? '&keyword=' + keyword : '' } ">Previous</a>

			<span th:unless="${currentPage > 1}">Previous</span> &nbsp;&nbsp; <span
				th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
				th:if="${i != currentPage}"
				th:href="@{'/epage/'+ ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword !=null ? '&keyword=' + keyword : '' } ">[[${i}]]</a>

				<span th:unless="${i != currentPage}">[[${i}]]</span>&nbsp;&nbsp;

			</span> <a th:if="${currentPage < totalPages}"
				th:href="@{'/epage/' + ${currentPage+1}}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword !=null ? '&keyword=' + keyword : '' } ">Next</a>

			<span th:unless="${currentPage < totalPages}">Next</span>
			&nbsp;&nbsp; <a th:if="${currentPage < totalPages}"
				th:href="@{'/epage/' + ${totalPages}}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword !=null ? '&keyword=' + keyword : '' } ">Last</a>

			<span th:unless="${currentPage < totalPages}">Last</span>
		</div>
	</div>

	<!-- Bottom of Page [Contains logout, add if they are admin] -->
	<div sec:authorize="hasAnyAuthority('admin')">
		<a th:href="@{/employees/new}">Add</a>
	</div>
	<br>
	<a th:href="@{/return}">Return to Home</a>
	<br>

	<!-- Script to clear the filter and refresh the page when clear is clicked -->
	<script type="text/javascript">
		function clearFilter() {
			window.location = '/employees';
		}
	</script>
</body>
</html>